---
const platform = "github";
const username = "withastro";
const sns = "facebook";
const id = "100040915033725";
---

<footer>
  <p>
    Learn more about my projects on <a
      href={`https://www.${platform}.com/${username}`}>{platform}</a
    >!
  </p>
  <p>
    This is my {sns} url → <a
      href={`https://www.${sns}.com/profile.php?id=${id}`}>{sns}</a
    >
  </p>
</footer>
